@font-face {
    font-family: Exo;
    src: url("../src/assets/Fonts/Exo2-Regular.ttf");

}
@font-face {
    font-family: Inter;
    src: url("../src/assets/Fonts/Inter_28pt-Regular.ttf")
}

@theme{
    --font-exo:Exo;
}
@theme{
    --font-inter:Inter;
}


@import "tailwindcss";

/*Laptop View*/
@media (max-height: 750px) {

  

  .large-heading {
    font-size: 2rem !important;  /* shrink big fonts */
  }

  /* Adjust padding/margins to fit */
  .padding-heavy {
    padding: 0.5rem !important;
  }
  .textSmall-laptop {
    font-size: 0.8rem;
  }
  .bigText-laptop{
    font-size: ;
  }
}