@font-face {
    font-family: Exo;
    src: url("../src/assets/Fonts/Exo2-Regular.ttf");

}
@font-face {
    font-family: Inter;
    src: url("../src/assets/Fonts/Inter_28pt-Regular.ttf")
}

@theme{
    --font-exo:Exo;
}
@theme{
    --font-inter:Inter;
}


@import "tailwindcss";

/*Laptop View*/
@media (max-height: 850px) {

  

  .large-heading {
    font-size: 3rem !important;  /* shrink big fonts */
  }

  /* Adjust padding/margins to fit */
  .padding-heavy {
    padding: 0.5rem !important;
  }
  .textSmall-laptop {
    font-size: 0.8rem;
  }.mediuText-laptop{
    font-size: 1.5rem;
  }
  .bigText-laptop{
    font-size: 1.8rem;
  }.NavBarText-laptop{
    font-size: .8rem;
  }

  /*Cotainers*/
  .Achievements-container{
    max-height: 400px;
  }.Shop-container{
    max-height: 450px;
  }

  .JumpBackInCont{
    height: 90%;
  }.InventoryCont{
height: 80%;
  }

}
@media (max-height: 750px) {

  
  .JumpBackInCont{
    height: 75%;
  }.InventoryCont{
height: 65%;
  }

  .large-heading {
    font-size: 2.8rem !important;  /* shrink big fonts */
  }

  /* Adjust padding/margins to fit */
  .padding-heavy {
    padding: 0.5rem !important;
  }
  .textSmall-laptop {
    font-size: 0.7rem;
  }.mediuText-laptop{
    font-size: 1rem;
  }
  .bigText-laptop{
    font-size: 1.5rem;
  }.NavBarText-laptop{
    font-size: 1rem;
  }

  /*Cotainers*/
  .Achievements-container{
    max-height: 400px;
  }.Shop-container{
    max-height: 450px;
  }
}

@media (max-height: 650px) {

  
  .JumpBackInCont{
    height: 60%;
  }.InventoryCont{
height: 55%;
  }
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: #44526c;
  border-radius: 9999px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #29323f;
  border-radius: 9999px;
}
.dark .scrollbar-custom::-webkit-scrollbar-track {
  background: #374151;
}
.dark .scrollbar-custom::-webkit-scrollbar-thumb {
  background: #6b7280;
}
